---
export const prerender = true;
import { getCollection } from 'astro:content';
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostEntry from '@/components/entries/PostEntry.astro';
export async function getStaticPaths() {
const thoughts = await getCollection('thoughts');
  console.log('generated thoughts')
  return thoughts.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
const { entry } = Astro.props;
if(!entry){
  return new Response(null, { status: 404 })
}
const { Content } = await entry.render();
---
<BaseLayout>
<style>
  .pad2y {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .limiter {
    max-width:800px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
</style>
    <div class="limiter pad2y">
        <PostEntry
        url={entry.slug}
        pubDate={entry.data.pubDate}
        title={entry.data.title}
        >
            <Content />
        </PostEntry>
    </div>
</BaseLayout>